1st_sem/programing/final_project/raab/DataSync/DataSync/SourceConfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sources">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Source">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ExcludedSources">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ExcludedSource">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Path"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Destinations">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Destination" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Path" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Path"/>
            <xs:attribute type="xs:string" name="IncludeSubdirectories"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>