3nd_sem/cc/Drexler/Test/ue/Felber_Knopf_Popovic/CloudMarketPlace/MarketPlaceClient/Service References/MarketPlaceService/MarketPlaceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VirtualMachine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatingSystemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatingSystemType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatingSystemVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="RecommendedCpu" type="xs:int" />
      <xs:element minOccurs="0" name="RecommendedMemory" type="xs:double" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
      <xs:element minOccurs="0" name="SupportedVirtualizationPlatforms" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VirtualMachine" nillable="true" type="tns:VirtualMachine" />
  <xs:complexType name="MarketPlaceServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketPlaceServiceResponse" nillable="true" type="tns:MarketPlaceServiceResponse" />
  <xs:complexType name="VirtualAppliance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VirtualMachine">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationType" type="xs:int" />
          <xs:element minOccurs="0" name="InstalledSoftware" type="xs:int" />
          <xs:element minOccurs="0" name="SupportedProgrammingLanguages" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VirtualAppliance" nillable="true" type="tns:VirtualAppliance" />
  <xs:complexType name="DownloadVirtualMachineResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MarketPlaceServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ByteArray" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DownloadVirtualMachineResponse" nillable="true" type="tns:DownloadVirtualMachineResponse" />
  <xs:complexType name="DownloadVirtualApplianceResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MarketPlaceServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ByteArray" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DownloadVirtualApplianceResponse" nillable="true" type="tns:DownloadVirtualApplianceResponse" />
  <xs:complexType name="ArrayOfVirtualMachine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VirtualMachine" nillable="true" type="tns:VirtualMachine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVirtualMachine" nillable="true" type="tns:ArrayOfVirtualMachine" />
  <xs:complexType name="ArrayOfVirtualAppliance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VirtualAppliance" nillable="true" type="tns:VirtualAppliance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVirtualAppliance" nillable="true" type="tns:ArrayOfVirtualAppliance" />
  <xs:complexType name="VirtualMachineInstance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VirtualMachine">
        <xs:sequence>
          <xs:element minOccurs="0" name="InstanceId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VirtualMachineInstance" nillable="true" type="tns:VirtualMachineInstance" />
  <xs:complexType name="ArrayOfVirtualMachineInstance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VirtualMachineInstance" nillable="true" type="tns:VirtualMachineInstance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVirtualMachineInstance" nillable="true" type="tns:ArrayOfVirtualMachineInstance" />
</xs:schema>