3nd_sem/CloudComputing/Drexler/Test/ue/Felber_Knopf_Popovic/CloudMarketPlace/MarketPlaceClient/Service References/MarketPlaceService/MarketPlaceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MarketPlaceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8224/MarketPlaceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8224/MarketPlaceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8224/MarketPlaceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarketPlaceService_UploadVirtualMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadVirtualMachine" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_UploadVirtualMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadVirtualMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_UploadVirtualAppliance_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadVirtualAppliance" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_UploadVirtualAppliance_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadVirtualApplianceResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_ChangeDescriptionOfVirtualMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDescriptionOfVirtualMachine" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_ChangeDescriptionOfVirtualMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDescriptionOfVirtualMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_ChangeDescriptionOfVirtualAppliance_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDescriptionOfVirtualAppliance" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_ChangeDescriptionOfVirtualAppliance_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDescriptionOfVirtualApplianceResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_DownloadVirtualMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadVirtualMachine" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_DownloadVirtualMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadVirtualMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_DownloadVirtualAppliance_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadVirtualAppliance" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_DownloadVirtualAppliance_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadVirtualApplianceResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_RateVirtualMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:RateVirtualMachine" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_RateVirtualMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:RateVirtualMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_CommentVirtualMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:CommentVirtualMachine" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_CommentVirtualMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommentVirtualMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_SearchForSpecificVirtualMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchForSpecificVirtualMachine" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_SearchForSpecificVirtualMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchForSpecificVirtualMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_SearchForSpecificVirtualAppliance_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchForSpecificVirtualAppliance" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_SearchForSpecificVirtualAppliance_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchForSpecificVirtualApplianceResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_StartInstance_InputMessage">
    <wsdl:part name="parameters" element="tns:StartInstance" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_StartInstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartInstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_StopInstance_InputMessage">
    <wsdl:part name="parameters" element="tns:StopInstance" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_StopInstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopInstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_GetVirtualMachineInstances_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVirtualMachineInstances" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_GetVirtualMachineInstances_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVirtualMachineInstancesResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_GetDummyVirtualMachines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDummyVirtualMachines" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_GetDummyVirtualMachines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDummyVirtualMachinesResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_GetVirtualAppliances_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVirtualAppliances" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_GetVirtualAppliances_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVirtualAppliancesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarketPlaceService">
    <wsdl:operation name="UploadVirtualMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/UploadVirtualMachine" message="tns:IMarketPlaceService_UploadVirtualMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/UploadVirtualMachineResponse" message="tns:IMarketPlaceService_UploadVirtualMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadVirtualAppliance">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/UploadVirtualAppliance" message="tns:IMarketPlaceService_UploadVirtualAppliance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/UploadVirtualApplianceResponse" message="tns:IMarketPlaceService_UploadVirtualAppliance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDescriptionOfVirtualMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/ChangeDescriptionOfVirtualMachine" message="tns:IMarketPlaceService_ChangeDescriptionOfVirtualMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/ChangeDescriptionOfVirtualMachineResponse" message="tns:IMarketPlaceService_ChangeDescriptionOfVirtualMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDescriptionOfVirtualAppliance">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/ChangeDescriptionOfVirtualAppliance" message="tns:IMarketPlaceService_ChangeDescriptionOfVirtualAppliance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/ChangeDescriptionOfVirtualApplianceResponse" message="tns:IMarketPlaceService_ChangeDescriptionOfVirtualAppliance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadVirtualMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/DownloadVirtualMachine" message="tns:IMarketPlaceService_DownloadVirtualMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/DownloadVirtualMachineResponse" message="tns:IMarketPlaceService_DownloadVirtualMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadVirtualAppliance">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/DownloadVirtualAppliance" message="tns:IMarketPlaceService_DownloadVirtualAppliance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/DownloadVirtualApplianceResponse" message="tns:IMarketPlaceService_DownloadVirtualAppliance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RateVirtualMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/RateVirtualMachine" message="tns:IMarketPlaceService_RateVirtualMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/RateVirtualMachineResponse" message="tns:IMarketPlaceService_RateVirtualMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommentVirtualMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/CommentVirtualMachine" message="tns:IMarketPlaceService_CommentVirtualMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/CommentVirtualMachineResponse" message="tns:IMarketPlaceService_CommentVirtualMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchForSpecificVirtualMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/SearchForSpecificVirtualMachine" message="tns:IMarketPlaceService_SearchForSpecificVirtualMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/SearchForSpecificVirtualMachineResponse" message="tns:IMarketPlaceService_SearchForSpecificVirtualMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchForSpecificVirtualAppliance">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/SearchForSpecificVirtualAppliance" message="tns:IMarketPlaceService_SearchForSpecificVirtualAppliance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/SearchForSpecificVirtualApplianceResponse" message="tns:IMarketPlaceService_SearchForSpecificVirtualAppliance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartInstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/StartInstance" message="tns:IMarketPlaceService_StartInstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/StartInstanceResponse" message="tns:IMarketPlaceService_StartInstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopInstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/StopInstance" message="tns:IMarketPlaceService_StopInstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/StopInstanceResponse" message="tns:IMarketPlaceService_StopInstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVirtualMachineInstances">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/GetVirtualMachineInstances" message="tns:IMarketPlaceService_GetVirtualMachineInstances_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/GetVirtualMachineInstancesResponse" message="tns:IMarketPlaceService_GetVirtualMachineInstances_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDummyVirtualMachines">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/GetDummyVirtualMachines" message="tns:IMarketPlaceService_GetDummyVirtualMachines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/GetDummyVirtualMachinesResponse" message="tns:IMarketPlaceService_GetDummyVirtualMachines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVirtualAppliances">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/GetVirtualAppliances" message="tns:IMarketPlaceService_GetVirtualAppliances_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/GetVirtualAppliancesResponse" message="tns:IMarketPlaceService_GetVirtualAppliances_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMarketPlaceService" type="tns:IMarketPlaceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadVirtualMachine">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/UploadVirtualMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadVirtualAppliance">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/UploadVirtualAppliance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDescriptionOfVirtualMachine">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/ChangeDescriptionOfVirtualMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDescriptionOfVirtualAppliance">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/ChangeDescriptionOfVirtualAppliance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadVirtualMachine">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/DownloadVirtualMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadVirtualAppliance">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/DownloadVirtualAppliance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RateVirtualMachine">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/RateVirtualMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentVirtualMachine">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/CommentVirtualMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchForSpecificVirtualMachine">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/SearchForSpecificVirtualMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchForSpecificVirtualAppliance">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/SearchForSpecificVirtualAppliance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartInstance">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/StartInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopInstance">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/StopInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVirtualMachineInstances">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/GetVirtualMachineInstances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDummyVirtualMachines">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/GetDummyVirtualMachines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVirtualAppliances">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/GetVirtualAppliances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MarketPlaceService">
    <wsdl:port name="BasicHttpBinding_IMarketPlaceService" binding="tns:BasicHttpBinding_IMarketPlaceService">
      <soap:address location="http://localhost:8224/MarketPlaceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>