3nd_sem/cc/Drexler/HandsOn_SOA_REST/WcfServiceLibrary_SOAP/ConsoleClient/Service References/ServiceRef/CustomerOrderRetrieval.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerOrderRetrieval" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataAccessLayer.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerOrderRetrieval_TestMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:TestMessage" />
  </wsdl:message>
  <wsdl:message name="ICustomerOrderRetrieval_TestMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerOrderRetrieval_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomerOrderRetrieval_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerOrderRetrieval_AddCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerOrderRetrieval_AddCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerOrderRetrieval_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerOrderRetrieval_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerOrderRetrieval_GetOrdersForCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersForCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerOrderRetrieval_GetOrdersForCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersForCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerOrderRetrieval_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="ICustomerOrderRetrieval_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerOrderRetrieval_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="ICustomerOrderRetrieval_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerOrderRetrieval">
    <wsdl:operation name="TestMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/TestMessage" message="tns:ICustomerOrderRetrieval_TestMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/TestMessageResponse" message="tns:ICustomerOrderRetrieval_TestMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/GetAllCustomers" message="tns:ICustomerOrderRetrieval_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/GetAllCustomersResponse" message="tns:ICustomerOrderRetrieval_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/AddCustomer" message="tns:ICustomerOrderRetrieval_AddCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/AddCustomerResponse" message="tns:ICustomerOrderRetrieval_AddCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/DeleteCustomer" message="tns:ICustomerOrderRetrieval_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/DeleteCustomerResponse" message="tns:ICustomerOrderRetrieval_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersForCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/GetOrdersForCustomer" message="tns:ICustomerOrderRetrieval_GetOrdersForCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/GetOrdersForCustomerResponse" message="tns:ICustomerOrderRetrieval_GetOrdersForCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/AddOrder" message="tns:ICustomerOrderRetrieval_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/AddOrderResponse" message="tns:ICustomerOrderRetrieval_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/DeleteOrder" message="tns:ICustomerOrderRetrieval_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOrderRetrieval/DeleteOrderResponse" message="tns:ICustomerOrderRetrieval_DeleteOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPEndPoint" type="tns:ICustomerOrderRetrieval">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestMessage">
      <soap:operation soapAction="http://tempuri.org/ICustomerOrderRetrieval/TestMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/ICustomerOrderRetrieval/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerOrderRetrieval/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerOrderRetrieval/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersForCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerOrderRetrieval/GetOrdersForCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/ICustomerOrderRetrieval/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/ICustomerOrderRetrieval/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerOrderRetrieval">
    <wsdl:port name="SOAPEndPoint" binding="tns:SOAPEndPoint">
      <soap:address location="http://localhost:9000/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>